<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Plan Your Trip</h2>
    <form action="/plan-trip" method="post">
        <div class="form-group">
            <label for="source">Source</label>
            <input type="text" class="form-control" id="source" name="source" required>
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" class="form-control" id="destination" name="destination" required>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
            <label for="returnDate">Return Date</label>
            <input type="date" class="form-control" id="returnDate" name="returnDate" required>
        </div>
        <div class="form-group">
    <label for="adults">Adults</label>
    <input type="number" class="form-control" id="adults" name="adults" required min="1">
</div>
<div class="form-group">
    <label for="children">Children</label>
    <input type="number" class="form-control" id="children" name="children" required min="0">
</div>
        <div class="form-group">
    <label for="adults">Infants</label>
    <input type="number" class="form-control" id="infants" name="infants" required min="0">
    </div>
<!--<div class="form-group">-->
<!--    <label for="preference">Preference</label>-->
<!--    <select class="form-control" id="preference" name="preference" required>-->
<!--        <option value="cost">Cost</option>-->
<!--        <option value="convenience">Convenience</option>-->
<!--    </select>-->
<!--</div>-->

        <div class="form-group">
            <label for="transportMode">Mode of Transport</label>
            <select class="form-control" id="transportMode" name="transportMode" required>
                <option value="flight">Flight</option>
<!--                <option value="road">Road</option>-->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Plan Trip</button>
    </form>
</div>
</body>
</html>
